*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 20px;
}
.box{
  float: left;
  width: 50%;
}

section{
  width: 50%;
  float: left;
}
h1{
  size: 50px;
}

textarea{
  resize: none;
  border: 1px solid lightgrey;
  min-height: 600px;
  width: 650px;
  padding: 10px;
}
